ul {
	list-style-type:none;
	margin: 0;
	padding: 0;
	border: 2px dotted pink;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 90px;
}

li {
	border: 1px solid red;
	margin: 0.5em;
	padding: 0.5em;

}

.logo {
	order:1;
	flex-basis: 34%;
	border: 3px dotted pink;
}

.flex2{
    order: 2;
}